<div>
  {{textarea value=title placeholder="title"}}
</div>
<div>
  {{textarea value=body placeholder="type blog here..."}}
</div>
<button class="save-button" {{action 'saveBlog'}}>Save</button>


{{outlet}}
